{% load i18n %}
<div class="modal fade" id="paymentEditModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Edit Payment" %}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="payment-edit-form">
                    <!-- Reference Info -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>{% trans "Check Reference" %}</label>
                            <input type="text" class="form-control" id="edit-reference" disabled>
                        </div>
                        <div class="col-md-6">
                            <label>{% trans "Amount" %}</label>
                            <input type="text" class="form-control" id="edit-amount" disabled>
                        </div>
                    </div>
                    
                    <!-- Creation Date and Signatures -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>{% trans "Creation Date" %}</label>
                            <input type="text" class="form-control" id="edit-creation-date" disabled>
                        </div>
                        <div class="col-md-6">
                            <label>{% trans "Signatures" %}</label>
                            <div class="form-control" id="edit-signatures" style="min-height: 38px;"></div>
                        </div>
                    </div>

                    <!-- Beneficiary and Status -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>{% trans "Beneficiary" %}</label>
                            <input type="text" class="form-control" id="edit-beneficiary" disabled>
                        </div>
                        <div class="col-md-6">
                            <label>{% trans "Status" %}</label>
                            <input type="text" class="form-control" id="edit-status" disabled>
                        </div>
                    </div>

                    <!-- Invoice Reference -->
                    <div class="row mb-3" id="edit-invoice-row">
                        <div class="col-md-12">
                            <label>{% trans "Invoice Reference" %}</label>
                            <input type="text" class="form-control" id="edit-invoice-ref" disabled>
                        </div>
                    </div>

                    <!-- Document -->
                    <div class="row mb-3" id="document-upload-row">
                        <div class="col-md-12">
                            <label for="edit-document" class="form-label">{% trans "Document" %}</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="edit-document" name="document" accept=".pdf,.jpg,.jpeg,.png">
                                <button class="btn btn-outline-secondary document-clear-btn" type="button" id="clear-document">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="form-text" id="current-document-info">
                                <!-- This will be populated via JavaScript -->
                            </div>
                            <input type="hidden" id="delete-document" value="false">
                        </div>
                    </div>

                    <!-- Editable Fields -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>{% trans "Payment Due Date" %}</label>
                            <input type="date" class="form-control" id="edit-payment-due" name="payment_due">
                        </div>
                        <div class="col-md-6">
                            <label>{% trans "Observation" %}</label>
                            <textarea class="form-control" id="edit-observation" name="observation" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" id="save-payment-edit">{% trans "Save Changes" %}</button>
            </div>
        </div>
    </div>
</div> 